.details-wrapper
  display: flex
  justify-content: center
  padding: 5rem 1rem
  background-color: #f0f0f0
  height: 100%

.card
  width: 30rem
  height: 30rem

.details
  display: flex
  flex-direction: column
  width: 100%

.flex-actions
  display: flex
  justify-content: flex-end
  padding-right: .5rem
